/* css  reset */
*{
    margin: 0px;
    padding: 0px;
}


html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbr-height:59px;
}
/* navigation bar */
#navbr {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    
}
#navbr::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}


/*navigation bar logo and img */
#logo{
    margin: 8px 27px;

}
#logo img{
    height: 39px;
    margin: 18px 10px;
}

/* navigation barlist styling */

#navbr ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

#navbr ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.5rem;
}
#navbr ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbr ul li a:hover{
    color: black;
    background-color: wheat;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 38px 124px;
    height: 421px;
    align-items: center;
    justify-content: center;
}
#home::before{
    content: "";
    background: url('../bg2.jpg') no-repeat center center/cover; 
    position: absolute;
    /* height: 100%; */
    height: 555px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: #4a4437;;
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
   
}
#home p{
    color: #762e2e;
    text-align: center;
    font-size: 1.31rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}



/* services section */
#services{
    display: flex;
    margin: 34px;
}
#services .box {
    border: 2px solid red;
    padding: 35px;
    margin: 2px 32px;
    border-radius: 24px;
    background-color: #efe5e5;
    margin-bottom: 20px;
}

#services .box img{
   height: 151px;
   display: block;
   margin: auto;
}

#services .box p{
    font-family: 'Luxurious Roman', cursive;
}

/* client section*/
#client-sect{
   
    position: relative;

}
#client-sect::before{
    content: "";
    position: absolute;
    background: url('../bg3.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}
#client{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.client-itm{
    padding: 34px;
}


#client img{
    height: 74px;
}


/* contact section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(../contact.jpg)  no-repeat center center/cover;

}
#cont-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#cont-box input,
#cont-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px ;
    font-size: 1.1rem;
}
#cont-box form{
    width: 40%;
}
#cont-box label{
    font-size: 1.3rem;
    font-family: 'Luxurious Roman', cursive;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility class */
.hpr{
    font-size: 3.4rem;
    padding: 12px;
    font-family: 'Luxurious Roman', cursive;
}
.hsec{
    font-size: 2.38rem;
    padding: 12px;
    font-family: 'Luxurious Roman', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: wheat;
}


.center{
    text-align: center;
}